*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 @font-face{ 
    font-family: 'veat';
    src: url(./fonts/Caveat-SemiBold.ttf);
   
}
@font-face{
    font-family: 'veat-medium';
    src: url(./fonts/Caveat-Medium.ttf);
   
}
@font-face{
    font-family: 'nunito';
    src: url(./fonts/Nunito-Regular.ttf);
   
}
@font-face{
    font-family:'morant-medium';
    src: url(./fonts/CormorantGaramond-Medium.ttf);
   
}
@font-face{
    font-family:'crimson';
    src: url(./fonts/CrimsonText-Regular.ttf);
   
}
@font-face{
    font-family:'vibes';
    src: url(./fonts/GreatVibes-Regular.ttf);
   
}
html{
    font-size: 62.5%;
    --header1: calc(2rem + 1vw);
    --header2: calc(3rem + 1vw);
    --header3: calc(3.5rem + 1vw);
    --header4: calc(1rem + 1vw);
    --text: calc(1.5rem + 1vw);
    --big: calc(6rem + 1vw);
    --special-color: black;
}
h1{
    font-size: var(--header1);
}
h2{
    font-size: var(--header2);
}
h3{
    font-size: var(--header3);
}
h4,h5,h6{
    font-size: var(--header4);
}

input,button,label,a{
    font-size: var(--text);
}
a{
    color: black;
    text-decoration: none;
}

ul{
    list-style: none;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body{
    font-family: "morant", sans-serif;

}
h1{
    font-family: 'veat', sans-serif;
}
.main-head{
    box-shadow: 0px 10px 10px 10px rgba(0,0,0,0.1);
    z-index: 2;
    position: sticky;

}
nav{
   width: 90%;
   margin: auto;
   display: flex;
   align-items: center;
   min-height: 10vh;
   
 
   
}
#logo{
    flex: 1 1 40rem;
}
.nav-links{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;

 } 

 .burger,
 .menu-check {
   display: none;
 }
 
 
 .hero
{ 
    min-height: 90vh;
    width: 90%;
    margin: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

   
.hero-introduction{
    flex: 2 1 40rem;

    
}
.hero-imgs
{
    flex: 1 1 40rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
   }

   .cloud{
       position: absolute;
       top: 0%;
       right: 0%;
       height: 40%;
       width: 75%;
    }
.animation1{
    z-index: 1;
    animation: cloudanimation 10s infinite alternate-reverse ease-in-out;
    opacity: 1;
}
.animation2{
    top: 0%;
    right: 30%;
   opacity: 0.5;
   animation: cloudanimation 10s infinite alternate-reverse ease-in-out;
    
}   


.hero-introduction h2{
    padding: 1rem;
}
.hero-introduction p{
    padding: 2rem;
}
.hero-introduction a{
 padding: 1rem 5rem;
 border: 2px solid black;
 margin: 4rem;
 

}
.photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.about{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
.about-intro{
    flex: 2 1 40rem;
    font-family:'crimson',sans-serif;
    padding: 2rem;
    justify-content: space-around;
    background:#f6eec9;
    color: black;
    }
.about-intro h2{
    padding: 3rem;
    font-family: 'vibes';
}
.about-img{
flex: 1 1 40rem;
position: relative;

}
.about-img h3{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
    letter-spacing: 2rem;

    
}


.about-view{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.gallery{
    position: relative;
}


.gallery-img {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(2, 1fr) ;
}
.gallery-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.gallery1{
    grid-column: 1/3;
   
}
.gallery2{
    grid-column: 3/4;
    grid-row: 1/3;
   
}
.gallery-header{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: gray;
    padding: 5rem 10rem;
    text-align: center;
}
.contact{
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
   
}
.form-wrapper{
    flex: 3 1 40rem;
    background-color: rgb(155, 145, 145);
   
}
.form-wrapper h2{
    margin: 2rem;
    color: lightcyan;
}
.form-wrapper span{
    font-size: var(--big);
    color: grey;

}
.form-wrapper label{
    display: block;
    padding: 2rem 0rem;
    color: lightcyan;
    text-align: center;
}
.form-wrapper input{
    display: block;
    background-color: rgb(106, 112, 106);
    margin: 2rem 0rem;
    border: none;
    
    }

.form-wrapper button{
    width: 100%;
    border: none;
    background-color: rgb(106, 112, 106) ;
    color: lightcyan;
    margin-bottom: 3rem ;
    
}    
.contact img{
    flex: 1 1 40rem;
    width: 100%;
}
footer{
    min-height: 10vh;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 3rem 5%;
    
}

footer ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;

}
    footer h4{
        flex: 1 1 40rem;
        justify-content: space-around;
        align-items: center;
    }



    @keyframes cloudanimation{
        from{
            transform: translate(0%, 0%);
        }
        to{
            transform: translate(100%, 0%);
        }

    }


@media screen and (max-width: 750px)
{
    nav{
       text-align: center;      
        
    }
    #logo {
        padding: 1rem;
    }
    .hero-introduction{
       text-align: center;
    
        
    }
    .burger {
        position: relative;
        display: block;
        cursor: pointer;
      }
    .burger span {
        padding: 0.2rem 2rem;
        background: grey;
        margin: 0.5rem 0rem;
        display: block;
        transition: all 0.5s ease;
      }
    .nav-links a {
        color: rgb(248, 244, 244);
        font-size: var(--header3);
        text-decoration: underline;
      }
    .nav-links {
        background:rgb(0, 0, 0);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        flex-direction: column;
        align-items: center;
        transition: transform 1s ease;
      }
    
    .nav-open {
        transform: translateX(-100%);
      }
    
    .toggle .line1 {
        transform: rotateZ(45deg) translateY(300%);
        background: rgb(61, 56, 56);
      }
    .toggle .line2 {
        opacity: 0;
      }
    .toggle .line3 {
        transform: rotateZ(-45deg) translateY(-300%);
        background: rgb(49, 44, 44);
      }



    .gallery-img img{
        grid-row: auto;
        grid-column: auto;
    }

    .gallery-img{
    grid-template-columns: repeat(auto-fit, min-max(20rem, 1fr));

    }

   

}
